.image {
    width: 40px;
    border-radius: 50px;

}

.all {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    grid-auto-columns: 100px;
    padding: 2px;
    margin: 0px;
}

.name {
    color: white;
    font-size: 15px;
    text-decoration: none;
    }

.one {
    display: grid;
    justify-items: center;
    align-items: center;
}

