
.formControl.error input,
.formControl.error textarea
{
    border: solid red 2px;
}

.formControl.error span {
    color: brown;
}

.formSummaryError {
    border: solid red 2px;
    color: red;
    padding: 5px
}