
.nav {
    grid-area: n;
    background-color: #130d2d;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 22px;

}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: thistle;
    font-weight: bold;
    text-decoration: none;
}