.header {
    grid-area: h;
    background-color: #2f3033;
    border-radius: 5px 5px 0px 0px;
    padding: 4px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px #fff392;

}

.header img {
    width: 50px;

}

.upper {
    color: #8ab4f8;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    justify-items: start;
    align-items: center;
}

.upper span {
    font-size: 30px;

}

