
.inf {
    margin-top: 0px;
    padding: 20px;
    background-color: #8ab4f8;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px #6f7175;


}

.rec {
    text-align: center;
    padding: 20px;
}

.avatar {
    border-radius: 50px;
    height: 250px;
}