.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
   /* grid-gap: 5px;*/
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: tomato;
}

.dialogsItems .dialog {

}

.messages {
    padding: 10px;
}

.messages .message {

}