.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-gap: 0px;


}

.dialog a {
    text-decoration: none;
    color: #130d2d;

}

.dialogsItems {
    margin: 5px 0px 0px 5px;
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    background-color: #859eff;


}
.dialog a.active {
    color:  white;
    font-weight: bold;
}



.messages {
    margin: 5px 5px 0px 0px;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    background-color: cornsilk;
}

.messages .message {

}