* {
    padding: 0;
    margin: 0
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: center;
    align-items: center;
}

.boxbox1 {
    padding: 1em;
    background-color: #859eff;
}

.boxbox2 {
    padding: 1em;
    background-color: #fff392;
}
